<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
<body ng-app="LunchCheck">
  <div class="container">
    <h1>Lunch Checker</h1>
    <div class="row" ng-controller="LunchCheckController">
      <section class="col-sm-12 col-md-6">
        <div class="header">Lunch Items</div>
        <div class="body">
          (I AM NOT CONSIDERING EMPTY COMMA SEPARATED ITEMS AS SUCH:
          <br />
          IF YOU PUT "apples, oranges, , , pears"
          I WILL ONLY COUNT 3 ITEMS!!!)
          <br />
          <input type="text" ng-model="items" class="border-{{status}}" />
          <button ng-click="checkItems()">Check if too much!</button>
        </div>
      </section>
      <section class="col-sm-12 col-md-6">
        <div class="header">Lunch Checker's message:</div>
        <div class="body message-body message-{{status}}">{{message}}</div>
      </section>
    </div>
  </div>

  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>
</body>
</html>
